body {
    margin: 0;
    font:18px ‘Gilroy’, Arial, Helvetica, sans-serif;

    line-height: 1.6;
}

*,
*::after
*::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 940px;
}

.intro{
    width: 100%;
    height: 670px;
}

.header{
    width: 100%;

    
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header__inner{
    width: 100%;
    height: 100%;
    justify-content: center;
    position: relative;
}

.header__inner::after{
    display: block;
    content: "";

    width: 100%;
    height: 3px;

    background-color: 
    #828282;
    border-radius: 25px;
    position: absolute;
    margin-top: 10px;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav__link{
    display: inline-block;
    vertical-align: text-top;
    margin: 22px;

    color: #828282;
    text-decoration: none;
}

.nav__link:hover{
    color: #070707;
    transition: color .3s;
}

.intro__up{
    display: flex;
    padding-top: 22px;
}

.name{
    width: 160px;
    height: 150px;
    font-size: 58px;
    line-height: 1.2;
    font-weight: bold;
}

.inform{
    margin: auto;
    padding-top: 60px;

    line-height: 0.4;
    font-size: 18px;
}

.my_photo{
width: 943.61px;
height: 387px;
left: 2256px;
top: 276.94px;

background: url(valentin-salja-1058467-unsplash.jpg);
}

.section{
    background-color: #F6F6F6;
    width: 1445px;
    height: 506px;
    top: 768px;    
    display: flex;
}

.section__inner{
    margin: 0 auto;
    height: 100%;
}

.section__mod{
    height: 700px;
}

.section__mod__end{
    height: 900px;
}

.section__mod__contacts{
    height: 500px;
}

.section__mod__color{
    background-color: #fff;
}

.title{
    padding-top: 70px;
    width: 500px;
    height: 43px;
    

    font-size: 34px;
    font-weight: bold;
    line-height: 0.9;
    margin: 0 auto;
    text-align: center;
}

.title__mod{
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
}

.text{
    width: 485px;
    height: 218px;

    text-align: center;
    line-height: 0.4;
}

.text__mod{
    height: 140px;
    padding-left: 100px;
}

.text__item{
    height: 50px;
    padding-top: 30px;
}

.portfolio__item{
    padding-top: 50px;
}



.button:hover{
    
    background-color: white;
    color: black;
}

.my__contacts{
    text-align: center;
}

.text__item__end{
    color: #828282;
    font-size: 14px;
}


div[class*=box] {
    height: 33.33%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box-1 { background-color: #fff; }
  
  .btn {
    padding-top: 10px;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 150px;
    cursor: pointer;
  }

  .btn-one {
    color: black;
    transition: all 0.15s;
    position: relative;
  }
  .btn-one span {
    transition: all 0.15s;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(0, 0, 0, 0.5);
    border-bottom-color: rgba(0, 0, 0, 0.5);
    transform: scale(0.1, 1);
  }
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }

  .ser {
    color: red;
  }
  
  